@media (min-width: 576px) {}

@media (max-height: 900px) {

    .weather-container {
        height: 85% !important;
    }

    .home-box{
        height: 99% !important;
    }

    .right-side-top {
        height: 37% !important;
    }

    .hours-box{
        padding: .5rem !important;
    }

    .right-side-bottom {
        height: 49% !important;
    }

    .second-row-of-boxs{
        margin-top: .7rem !important;
    }

}

@media (min-height: 750px) {

    .search-input {
        font-size: .8rem;
    }

    .temperature-box {
        font-size: 3rem;
        font-weight: 900;
        text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
    }

    .right-side {
        padding-bottom: 2rem;
    }
}


/* Medium devices (tablets, 768px and down) */
@media (min-width: 768px) {
    .left-side {
        height: 30%;
    }

    .top-bar {
        height: 7vh;
    }

    .border-light {
        top: 43%;
    }

    .first-line-nav-bar {
        font-size: 1rem;
        justify-content: start;
    }

    .second-line-nav-bar {
        font-size: .8rem;
        justify-content: start;
    }

    .sunrise-icon {
        margin-left: 2rem;
    }

    .sunset-icon {
        margin-left: 2rem;
    }

    .temperature-section {
        position: absolute;
        top: 45%;
        left: 60%;
        padding: 0;
    }

    .temperature-box {
        padding: 0 3rem;
    }

    .right-side {
        height: 70%;
    }

    .right-side-top {
        height: 50%;
    }

    .right-side-bottom {
        display: block;
        margin-top: 1rem;

    }

    .right-side-bottom-boxs {
        margin-top: .4rem;
    }

    .unshown-in-md-box {
        display: none;
    }

    .develper-text {
        font-size: 1rem;
        height: 12%;
        justify-content: center;
    }

    .develper-text span {
        font-weight: bold;
    }

    .github-icon {
        font-size: 1.3rem;
        cursor: pointer;
        padding-left: .7rem;
    }

    .tooltipp .tooltiptext {
        width: 4rem;
        font-size: .8rem;
        border-radius: 6px;
        padding: 2px 0;
        top: 150%;
        left: 150%;
        margin-left: -60px;
    }

    .tooltipp .tooltiptext::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
    }

}

@media (min-height: 850px) {
    .right-side {
        padding-bottom: 1rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
        .weather-container {
            margin: 10% 0;
            width: 80%;
            height: 80%;
        }
    
        .home-box {
            flex-direction: row;
            justify-content: center;
            border-radius: 2.50rem;
        }
    
        .temp-detail {
            padding: 0 .7rem;
        }
    
        .left-side {
            height: 100%;
            justify-content: space-between;
        }
    
        .left-side-header {
            padding: 2rem 0 3rem 0.5rem;
        }
    
        .top-bar {
            height: 6vh;
            margin-bottom: 2rem;
        }
    
        .add-city-icon {
            font-size: 1.4rem;
            padding-left: 0;
        }
    
        .add-city-input-icon {
            font-size: .9rem;
        }
    
        .search-input {
            font-size: .9rem;
        }
    
        .close-search-bar-btn i {
            font-size: 1rem;
        }
    
        .degree-unit-switch span {
            font-size: .6rem;
        }
    
        .switch {
            width: 38px;
            height: 28px;
        }
    
        .slider {
            width: 30px;
            height: 9px;
        }
    
        .slider:before {
            height: 12px;
            width: 12px;
            bottom: -1px;
        }
    
        .border-light {
            display: none;
        }

        .first-line-nav-bar {
            font-size: .9rem;
            justify-content: space-between;
        }

        .second-line-nav-bar {
            font-size: .7rem;
            justify-content: space-between;
        }
    
        .sunrise-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0;
        }
    
        .sunset-icon {
            margin-left: 0;
            width: 1.2rem;
            height: 1.2rem;
        }
    
        .temperature-section {
            padding-top: 2rem;
            position: static;
            padding: 0;
        }
    
        .temperature-box {
            font-size: 2rem;
            text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
            padding: 0 1rem;
        }
    
        .temperature {
            padding-left: 1rem;
        }
    
    
        .weather-type-section {
            background-color: var(--dark-blue);
            padding: 0;
            color: white;
        }
    
        .weather-type-section i {
            font-size: .7rem;
        }
    
        .weather-type-section span {
            font-size: 1rem;
            margin-right: 0;
        }
    
        .temp-img {
            display: block;
            height: 40%;
        }
    
        /* //////////////////////////////////////////////////right-side/////////////////////////////////////////////////////////////////////////// */
        .right-side {
            height: 100%;
            padding: 1.5rem 2rem;
            background-color: var(--light-blue);
            border-radius: 2.5rem;
        }
    
        .right-side-header {
            display: flex;
        }
    
        .right-side-bottom {
            display: block;
            height: 45%;
        }
    
        .right-side-top {
            height: 40%;
            margin-top: 1rem;
        }
    
        .hours-box {
            padding: 1.4rem;
            border-radius: 1.3rem;
        }
    
        .hours-box-top {
            padding: 0;
        }
    
        .hours-box-top p {
            font-size: .8rem;
            border-radius: 15px;
            padding: 5px 10px;
        }
    
        .hours-box-btns button {
            font-size: .7rem;
            padding: 5px 9px;
            border-radius: 7px;
        }
    
        .hours-box-btns i {
            font-size: .6rem;
        }
    
        .precipitaion-btn {
            display: block;
            background-color: #f1f1f1ad !important;
            color: rgba(0, 0, 0, 0.637) !important;
        }
    
        .border-blue {
            height: 10px;
            margin-top: 1rem;
        }
    
        .hours-box-bottom {
            padding-top: 1.4rem;
        }
    
        .hour-detail-box {
            background-color: white;
            padding: 0;
        }
    
        .hours-box-bottom img {
            width: 30px;
            height: 30px;
        }
    
        .times-temp-hour {
            font-size: .8rem;
        }
    
        .times-temp-degree {
            font-size: 1rem;
        }
    
        .right-side-bottom {
            margin-top: 1rem;
        }
    
        .details-box-title {
            font-size: .9rem;
            color: black;
            letter-spacing: 0;
        }
    
        .right-side-bottom-boxs {
            margin-top: 1rem;
        }
    
        .detail-box {
            border-radius: 1.3rem;
            padding: 1rem;
            padding-bottom: 0;
        }
    
        .detail-box img {
            width: 23px;
            height: 23px;
            border-radius: 7px;
        }
    
        .detail-box h6 {
            font-size: .7rem;
        }
    
        .detail-box p {
            font-size: 1rem;
        }
    
        .uv-index-text {
            font-size: .7rem !important;
        }
    
        .uv-index-text span {
            font-size: 1rem;
        }
    
        .detail-box-border {
            background-color: var(--dark-blue);
        }
    
        /* //////////////developer text  */
        .develper-text {
            font-size: 1rem;
            height: 12%;
            justify-content: start;
        }
    
        .develper-text span {
            font-weight: bold;
        }
    
        .github-icon {
            font-size: 1.3rem;
            cursor: pointer;
            padding-left: .7rem;
        }
    
        .tooltipp .tooltiptext {
            width: 4rem;
            font-size: .8rem;
            border-radius: 6px;
            padding: 2px 0;
            top: 150%;
            left: 150%;
            margin-left: -60px;
        }
    
        .tooltipp .tooltiptext::after {
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
        }
    
    
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    .weather-container {
        margin: 10% 0;
        width: 80%;
        height: 80%;
    }

    .home-box {
        flex-direction: row;
        justify-content: center;
        border-radius: 2.50rem;
    }

    .temp-detail {
        padding: 0 1.5rem;
    }

    .left-side {
        height: 100%;
        justify-content: space-around;
    }

    .left-side-header {
        padding: 1rem 0 0 0;
    }

    .top-bar {
        height: 50%;
        margin-bottom: 2rem;
    }

    .add-city-icon {
        font-size: 1.7rem;
        padding-left: 1rem;
    }

    .add-city-input-icon {
        font-size: .9rem;
    }

    .search-input {
        font-size: .9rem;
    }

    .close-search-bar-btn i {
        font-size: 1rem;
    }

    .degree-unit-switch span {
        font-size: .8rem;
    }

    .switch {
        width: 42px;
        height: 28px;
    }

    .slider {
        width: 35px;
        height: 13px;
    }

    .slider:before {
        height: 15px;
        width: 15px;
        bottom: -1px;
    }

    .border-light {
        display: none;
    }

    .sunrise-icon {
        margin-left: 0;
    }

    .sunset-icon {
        margin-left: 0;
    }

    .temperature-section {
        position: static;
        padding: 0;
    }

    .temperature-box {
        font-size: 3.5rem;
        text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
    }

    .temperature {
        padding-left: 1rem;
    }


    .weather-type-section {
        background-color: var(--dark-blue);
        padding: 0;
        color: white;
    }

    .weather-type-section i {
        font-size: .9rem;
    }

    .weather-type-section span {
        font-size: 1.3rem;
        margin-right: 0;
    }

    .temp-img {
        display: block;
        height: 40%;
    }

    /* //////////////////////////////////////////////////right-side/////////////////////////////////////////////////////////////////////////// */
    .right-side {
        height: 100%;
        padding: 1.5rem 2rem;
        background-color: var(--light-blue);
        border-radius: 2.5rem;
    }

    .right-side-header {
        display: flex;
    }

    .right-side-bottom {
        display: block;
        height: 45%;
    }

    .right-side-top {
        height: 40%;
        margin-top: 1rem;
    }

    .hours-box {
        padding: 1.4rem;
        border-radius: 1.3rem;
    }

    .hours-box-top {
        padding: 0;
    }

    .hours-box-top p {
        font-size: 1rem;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .hours-box-btns button {
        font-size: .8rem;
        padding: 5px 9px;
        border-radius: 7px;
    }

    .hours-box-btns i {
        font-size: .6rem;
    }

    .precipitaion-btn {
        display: block;
        background-color: #f1f1f1ad !important;
        color: rgba(0, 0, 0, 0.637) !important;
    }

    .border-blue {
        height: 10px;
        margin-top: 1rem;
    }

    .hours-box-bottom {
        padding-top: 1.4rem;
    }

    .hour-detail-box {
        background-color: white;
        padding: 0;
    }

    .hours-box-bottom img {
        width: 30px;
        height: 30px;
    }

    .times-temp-hour {
        font-size: .8rem;
    }

    .times-temp-degree {
        font-size: 1.2rem;
    }

    .right-side-bottom {
        margin-top: 1rem;
    }

    .details-box-title {
        color: black;
        letter-spacing: 0;
    }

    .right-side-bottom-boxs {
        margin-top: 1rem;
    }

    .detail-box {
        border-radius: 1.3rem;
        padding: 1rem;
        padding-bottom: 0;
        width: 28%;
    }

    .detail-box img {
        width: 25px;
        height: 25px;
        border-radius: 7px;
    }

    .detail-box h6 {
        font-size: .9rem;
    }

    .detail-box p {
        font-size: 1.2rem;
    }

    .uv-index-text {
        font-size: .8rem !important;
    }

    .uv-index-text span {
        font-size: 1.2rem;
    }

    .detail-box-border {
        background-color: var(--dark-blue);
    }

    /* //////////////developer text  */
    .develper-text {
        font-size: 1rem;
        height: 12%;
        justify-content: start;
    }

    .develper-text span {
        font-weight: bold;
    }

    .github-icon {
        font-size: 1.3rem;
        cursor: pointer;
        padding-left: .7rem;
    }

    .tooltipp .tooltiptext {
        width: 4rem;
        font-size: .8rem;
        border-radius: 6px;
        padding: 2px 0;
        top: 150%;
        left: 150%;
        margin-left: -60px;
    }

    .tooltipp .tooltiptext::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
    }

}

@media (min-height: 1100px) {}

@media (min-width: 1600px) {
    .top-bar {
        flex-direction: row;
        height: 50%;
    }

    .add-city-icon {
        font-size: 1.8rem;
        padding-left: 1rem;
    }

    .add-city-input-icon {
        font-size: .9rem;
    }

    .degree-unit-switch {
        width: 100%;
    }

    .first-line-nav-bar {
        font-size: 1.2rem;
        justify-content: space-between;
    }

    .left-side-navbar i {
        padding-right: .5rem;
        font-size: 1.2rem;
    }

    .second-line-nav-bar {
        font-size: .9rem;
        justify-content: space-between;
    }

    .sunrise-icon {
        width: 2.1rem;
        height: 2.1rem;
        margin-bottom: .8rem;
        margin-left: 0;
    }

    .sunrise-time {
        font-size: 1rem;
    }

    .sunset-icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: .6rem;
        margin-left: 0;
    }

    .sunset-time {
        font-size: .9rem;
        padding-left: .2rem;
    }

    .temperature-box {
        font-size: 5rem;
        text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
    }

    .temperature {
        padding-left: 2rem;
    }
}